*{
    padding: 0;
    margin: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    color:white;
}

span {
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}

body{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background:linear-gradient(rgb(27, 6, 68) ,rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.preview{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgb(27, 6, 68) ,rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 7;
}

.topPreview{
    height: 20%;
}

.startLogo{
    height: 20%;
    letter-spacing: 40px;
    font-size: 150px;
}

.setSize{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing:2px;
    font-size: 28px;
    width: 100%;
    height: 26%;
}


.length,.lengthOption{
    background-color: transparent;
    border: 1px rgb(214, 214, 214) solid;
}

.length{
    height: 80px;
    font-size: 38px;
    text-indent: 20px;
    width: 200px;
}

.bottomPreview{
    height: 20%;
}

.btn,.btnOption{
    background-color: transparent;
    cursor: pointer;
    border: 1px rgb(214, 214, 214) solid;
}

.btn{
    letter-spacing: 37px;
    font-size: 80px;
    text-indent: 37px;
}


.top{
    position: fixed;
    width: 100%;
    height: 65px;
    top:0;
    left: 0;
    background-color: black;
    z-index: 6;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}


.logo{
    letter-spacing: 20px;
    font-size: 50px;
}

.fix{
    text-align: center;
}

.rightBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.logoAround{
    letter-spacing: 2px;
    font-size: 50px;
    word-wrap: normal;
}

.optionButton{
    width: 50px;
    height: 25px;
    border:none;
    background: repeating-linear-gradient(white,white 5px,transparent 5px,transparent 10px);
    cursor: pointer;
}

.option{
    right: 0;
    top: 65px;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 25vw;
    background-color: rgb(36, 35, 35);
    z-index: 5;
    overflow: auto;
}

.setSizeOption{
    text-align: center;
    font-size: 28px;
    width: 100%;
}

.lengthOption{
    font-size: 38px;
    text-indent: 20px;
    width: 150px;
}

.bottomOption{
}

.btnOption{
    letter-spacing: 10px;
    font-size: 50px;
    text-indent: 10px;
}

.alert {
    position: fixed;
    display: none;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr 1fr;
    width: 60vw;
    height: 36vh;
    top: 50%;
    left: 50%;
    margin-top: -18vh;
    margin-left: -30vw;
    background-color: rgb(0, 0, 0);
    border: 4px rgb(214, 214, 214) solid;
    z-index: 8;
    justify-items: center;
    text-align: center;
    font-size: 50px;
}

.alertMes{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.yes,.no {
    width: 95%;
    height: 85%;
    border: 2px rgb(214, 214, 214) solid;
    cursor: pointer;
}

.gameSection{
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
    padding-top: 75px;
}

.border{
    border:4px solid rgb(236, 236, 236);
    /*border-image: repeating-linear-gradient(45deg,#fbed29, #bbb458 8px,#000000 8px, #5e5e5e 16px) 1;
    */
}

#gamefield{
    display: grid;
}


.cell{
    overflow:hidden;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #8a9dac;
    text-align: center;

}

.odd{
    background-color: #b1c8db;
}

.cellClosed, .OddcellClosed {
    position: absolute;
    width: 100px;
    height: 100px;
    left:0px;
    cursor: pointer;
    z-index: 2;
}

.cellClosed{
    background-color: #56626d;
}

.OddcellClosed{
    background-color: #37424b;
}


.cross{
    top:0px;left:0px;
    position: absolute;

}


.cross::before, .cross::after{
    content: "";
    position: absolute;
    height: 18px;
    width: 150px;
     left: -25px;
     top:40px;
    background: 
    repeating-linear-gradient(45deg,#fbed29, #bbb458 8px,#000000 8px, #5e5e5e 16px);
    z-index: 3;
}

.cross:before {transform: rotate(45deg);}
.cross:after {transform: rotate(-45deg);}

.bomb{
    position: absolute;
    width: 28px;
    height: 38px;
    top:30px;
    left: 26px;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    z-index: 1;
}

.bomb::before{
    content: "";
    position: absolute;
    height: 36px;
    width: 76px;
    left: -24px;
    top: 1px; 
    border-radius: 5%;
    background: 
    repeating-linear-gradient(black,black 12px,transparent 12px, transparent 13px);
}

.bomb::after{
    content: "00:01";
    position: absolute;
    width: 36px;
    height: 12px;
    top:13px;
    left: -5px;
    border: 1px double #ffffff;
    border-radius: 15%;
    font-size: 11px;
}

.inside{
    font-size: 85px;
}

.numbZero{
    color:rgb(48, 138, 145);
}

.numbOne{
    color:rgb(25, 121, 89);
}

.numbTwo{
    color:rgb(54, 126, 35);
}

.numbThree{
    color:#669200;
}

.numbFour{
    color:#927c00
}

.numbFive{
    color:rgb(153, 56, 0);
}

.numbSix{
    color:rgb(128, 0, 0);
}

.numbSeven{
    color:rgb(185, 0, 108);
}

.numbEigh{
    color:rgb(74, 0, 148)
}

